*{
    margin:0;
    padding:0;
}
body{
    background-color:whitesmoke;
}
#mainContent{
    padding-right: 10px;
}

#navbar{
    background-color: rgba(103, 107,236, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width:10vw;
    top:0;
    left:0;
}
#navitems{
    height: 80%;
    width: 100%;
    background-color:inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navIcon{
    background-color: rgba(255, 255, 255, 0.397);
    padding: 8px 15px;
    border-radius: 10px;
    color:white
}
.chatNavIcon{
    background-color: rgba(255, 255, 255, 0.397);
    padding: 8px 15px;
    border-radius: 10px;
}
#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
    height: 55px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 10px;
}
#searchInput{
    width: 100%;
    height: 100%;
    border: 0;
    background-color: inherit;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
    color: rgb(107, 105, 105);
}
#moreIcon{
    position: relative;
    top: 4%;
    right: 2%;
}
#featuredStories::-webkit-scrollbar{
    display:none;
}
#rightContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
#leftContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}
#storiesNav{
    display: flex;
    align-items: center;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 10px 25px;
    list-style-type: none;
    width: 80%;
    text-align: left;
    line-height: 2;
}
.storiesNavItems{
    font-size: 16px;
    font-weight: 1000;
    color: rgb(156, 155, 155);
    text-decoration: none;
    transition: all ease-in-out .2s;
    margin-right: 30px;
}
.storiesNavItems:hover{
    text-decoration: underline;
    color: white;
}
 
#messagesContainer{
    scrollbar-width: thin
}

@media (min-width: 600px) {
    .navIcon {
      font-size: 30px;
    }
    #storiesNav{
        flex-direction: row;
    }
}
@media (max-width: 600px) {
    .navIcon {
      font-size: 25px;
 }
 #storiesNav{
    flex-direction: column;
    height:"auto";
    justify-content: flex-start;
    align-items: flex-start;
}
}
@media (max-width: 900px) {
    #navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: fixed;
        width:100%;
        height:10vh;
        top:0;
        z-index: 100;
    }
    #mainContent{
        margin-top: 10vh;
    }
    
}
#chattingDetailsId::-webkit-scrollbar{
    display:none
}